.menu {
  display: flex;
  justify-content: space-evenly;
}
.menu-items {
  display: flex;
  margin-right: 20px;
}

.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-container {
  display: flex;
  justify-content: space-around;
}
.camera-container {
  display: flex;
  justify-content: space-around;
}
.gear-title {
  text-align: center;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 70px; /* 250% */
}
.drone-light-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.blog-grnscrn-actn-camera-container {
  display: flex;
  justify-content: space-around;
}
.feature-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn3{
  width: 20px;
  height: 15px;
  padding: 10px 24px;
  background: #e02c6d;
}
.footer {
  background-color: black;
  color: white;
  text-align: center;
}
